.wrapper {
  position: sticky;
  bottom: 0;
  width: 100%;
  overflow-x: auto;
  border: 1px solid lightgray;
}

.wrapper::after {
  content: '';
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 64px;
  background-color: transparent;
  background: linear-gradient(to left, #ffffff 0%, transparent 100%);
}

.book-image {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 152px;
}

.book-image > img {
  align-self: center;
  max-height: 100%;
}
