.container {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 16px;
  border: 1px solid lightgray;
  background-color: #ffffff;
}

.container::after {
  content: '';
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 64px;
  background-color: transparent;
  background: linear-gradient(to left, #ffffff 0%, transparent 100%);
}

.wrapper {
  overflow-x: auto;
}

.wrapper-inner {
  display: flex;
}

.book {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 152px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #eceff3;
}

.book > img {
  width: auto;
}

.title:global(.ant-typography) {
  margin-bottom: 4px;
}
