.card {
  margin-bottom: 16px;
}

.card-body {
  display: flex;
  flex-wrap: nowrap;
}

.image {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 96px;
  height: 120px;
  margin-right: 16px;
  background-color: #eceff3;
}

.image > img {
  align-self: center;
  width: auto;
  max-height: 100%;
}

.card-info > .title {
  margin-bottom: 4px;
}
