:global(.ant-layout-header) {
  padding: 0;
  height: 104px;
}

@media (min-width: 768px) {
  :global(.ant-layout-header) {
    height: 64px;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title > h2 {
  width: 100%;
  margin-bottom: 8px;
  color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
    padding-top: 10px;
  }

  .title > h2 {
    width: 248px;
    margin-bottom: 0;
  }
}
